.calculator{
    background-color: var(--roxo);
    border-radius: 2rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);

    width: 30rem;

    padding: 2rem;
    margin: 15rem auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;

    border: var(--outline) .7rem solid;
}
.calculator__visor{
    width: 100%;
    height: 9rem;
    padding: 1rem;

    background-color: var(--visor);
    border-radius: 1.5rem;
    border: var(--outline) .7rem solid;

    text-align: end;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: rgb(0, 51, 51);

    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}
.calculator__visor #main{ font-size: 2.5rem; }
.calculator__visor #secundary{ 
    font-size: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.calculator hr{
    border:  var(--outline) solid .4rem;
    border-radius: 1rem;
}

.calculator__input-area{
    width: 100%;
    height: 70%;
    
    gap: 1rem;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.calculator__input-area__numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-column: 1/2;
    grid-row: 1/3;
}

.calculator__input-area__math{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    grid-column: 2/3;
    grid-row: 1/3;
}

.calculator__input-area button{
    min-height: 3rem;

    border: var(--outline) .7rem solid;
    border-radius: 1rem;
    outline: none;
    background-color:  var(--buttons);

    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--outline);
    text-align: center;

    cursor: pointer;
}
#clean{
    background-color: var(--clean);
    border: var(--outline) .7rem solid;
    grid-column: 3/4;
    grid-row: 1/3;
    height: 100%;
}
#equal{
    background-color: var(--equal);
    border: var(--outline) .7rem solid;
}
@media only screen and (min-width: 600px) {
    .calculator{
        background-color: var(--roxo);
        border-radius: 2rem;
        box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
    
        width: 50rem;
    
        padding: 2rem;
        margin: 15rem auto;
    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
    
        border: var(--outline) .7rem solid;
    }
    .calculator__input-area{
        width: 100%;
        height: 70%;
        
        gap: 1rem;
        
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        justify-content: center;
        align-items: center;
    }

    .calculator__input-area__math{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
    } 
}